@model IEnumerable<SocialMedia03.DAL.Models.Report>
@*@model SocialMedia03.DAL.Models.Report*@

@{
    Layout = "/Views/Admin/_AdminBase.cshtml";
}
<div class="report-content container-fluid">
    <button class="button-menu-mobile open-left" onclick="openSideBar()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex">
                        <div class="d-flex flex-column flex-lg-row">
                            <select type="number" class="form-control me-2 mb-2" name="month" style="width: 200px" id="dash-daterange">
                                <div>Tháng</div>
                                <option value="0">Tất cả</option>
                                @for (int i = 1; i <= 12; i++) {
                                    <option value="@i">@i</option>
                                }
                            </select>

                            <select type="number" class="form-control me-2 mb-2" name="year" style="width: 200px" id="dash-daterange">
                                <div>Năm</div>
                                @for (var j = @DateTime.Now.Year; j >= 2001; j--)
                                {
                                    <option value="@j">@j</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="input-group-text bg-primary border-primary text-white mb-2 load-report" style="cursor: pointer;">
                            <i class="fa-solid fa-rotate-right"></i>
                        </button>
                    </form>
                </div>
                <h5 class="page-title"></h5>
            </div>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="w-100 table-report">
        <thead>
            <tr>
            
                <th>@if(Model.First().TargetPostId == null)
                    {
                        @: Báo cáo bài viết
                    } else
                    {
                        @: Báo cáo người dùng
                    }
                </th>
                <th style="text-align:center; border-right:1px solid white">ID</th>
                <th style="text-align:center; border-right:1px solid white">ID người báo cáo</th>
                @if (Model.First().TargetUserId != null)
                {
                    <th style="text-align:center; border-right:1px solid white">ID người bị tố cáo</th>
                } else 
                {
                    <th style="text-align:center; border-right:1px solid white">ID bài viết bị tố cáo</th>
                }
                <th style="text-align:center; border-right:1px solid white">Ngày báo cáo</th>
                <th style="text-align:center; border-right:1px solid white">Lí do</th>
                <th style="text-align:center">|||||||</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td style="text-align:center">@r.Id </td>
                <td style="text-align:center">@r.UserId </td>   
                @if (r.TargetUserId != null) { 
                        <td style="text-align:center">@r.TargetUserId </td>
                } else 
                {
                    <td style ="text-align:center">@r.TargetPostId</td>
                }
                <td style="text-align:center">@r.CreatedDate</td>
                <td style="text-align:center">@r.Reason</td>
                <td style="text-align:center">
                    <button class="btn-solve" onclick="solveReportPost(@r.TargetPostId, this)">Xử lí</button>
                </td>
            </tr>  
        }  
        </tbody>
        </table>
    } else
    {
        <i class="page-title">Không có bài báo cáo nào</i>
    }
</div>

<script src="~/js/post.js"></script>         
