@model IEnumerable<SocialMedia03.DAL.Models.Report>
@*model SocialMedia03.WEB.Controllers.ReportController*@

@{
    Layout = "/Views/Admin/_AdminBase.cshtml";
}
<div class="report-content container-fluid">
    <button class="button-menu-mobile open-left" onclick="openSideBar()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex">
                        <div class="d-flex flex-column flex-lg-row">
                            <select type="number" class="form-control me-2 mb-2" name="month" style="width: 200px" id="dash-daterange">
                                <div>Tháng</div>
                                <option value="0">Tất cả</option>
                                @for (int i = 1; i <= 12; i++) {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <select type="number" class="form-control me-2 mb-2" name="year" style="width: 200px" id="dash-daterange">
                                <div>Năm</div>
                                @for (var j = @DateTime.Now.Year; j >= 2001; j--)
                                {
                                    <option value="@j">@j</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="input-group-text bg-primary border-primary text-white mb-2 load-report" style="cursor: pointer;">
                            <i class="fa-solid fa-rotate-right"></i>
                        </button>
                    </form>
                </div>
                <h5 class="page-title"></h5>
            </div>
        </div>
    </div>

    <table class="w-100 table-report">
        <thead>
            <tr>
                @*<th>Model. == "Báo cáo bài viết" ? "Id bài viết" : reportType == "Báo cáo bài đấu giá" ? "Id bài đấu giá" : "Id người dùng"}</th>*@
                <th>ID</th>
                <th>ID người báo cáo</th>
                <th>ID người bị tố cáo</th>
                <th>ID bài viết bị tố cáo</th>
                <th>Ngày báo cáo</th>
                <th>Lí do</th>
            </tr>
            <tr>
                |||||||
            </tr>
        </thead>
        @foreach (var r in Model) {
        <tbody>
            <tr>
                <td>@r.Id </td>
                <td>@r.UserId </td>
                <td>@r.TargetUserId </td>
                <td>@r.TargetPostId</td>
                <td>@r.CreatedDate</td>
                <td>@r.Reason</td>
            </tr>  
            <tr>
                <button class="btn-solve" onclick="">Xử lí</button>
            </tr>
                
        </tbody>
        }
    </table>
</div>

<script src="~/resources/js/post.js"></script>
<script src="~/resources/js/auction.js"></script>                
