@model SocialMedia03.DAL.Models.Post

<div class="row g-3">
<div class="d-lg-block d-none col-lg-4 col-xl-3">

</div>

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 g-3">
    <div class="home-content">
        <div id="feeds-container">
            <div class="post" id="post-@Model.Id">
                <div class="card post--item mt-0">
                    <div class="card-header border-0 pb-0 pt-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-start">
                                <div class="me-2">
                                
                                    <a href="/user/@Model.UserId">
                                        <img class="avatar-img rounded-circle" src="@Model.User.Avatar" alt="">
                                    </a>
                                </div>

                                <div>
                                    <div class="nav nav-divider">
                                        <h6 class="nav-item card-title mb-0">

                                            <a href="/user/@Model.UserId">@Model.User.Lastname @Model.User.Firstname</a>
                                        </h6>
                                        <span class="ms-2 nav-item small text-secondary" id="timeFromNow"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="dropdown">
                                <a href="#" class="text-secondary px-2" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
                                    @if (Model.UserId == Context.Session.GetInt32("currentUserId"))
                                    {
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="editPost(@Model.Id, this)">Chỉnh sửa bài viết</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="deletePost(@Model.Id, this)">Xóa bài viết</a>
                                        </li>
                                    } else
                                    {
                                        <li>
                                                <a class="dropdown-item" href="#" onclick="modalArticleReport(@Model.Id, 'POST')">Báo cáo</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body pb-2">
                        <p class="post--content mb-3 content--hashtag post-@Model.Id">
                            @Model.Content
                        </p>

                        @if (!String.IsNullOrWhiteSpace(@Model.Image))
                        {
                            <img class="card-img post--img" src="@Model.Image" alt="@Model.Content" onclick="showFull(this)">
                        }
                        else
                        {
                            <img class="card-img post--img" src="" alt="Post image" onclick="showFull(this)" style="display:none;">
                        }

                        <div class="line"></div>

                        <div class="post--action py-2 d-flex flex-nowrap align-items-center justify-content-between">
                            <div class="post--action-like w-100 d-flex justify-content-center align-items-center">
                                <div class="post--action-hover" id="likeAction" onclick="createReact(@Model.Id, this)">
                                    @{
                                        bool hasUser = false;
                                        foreach(var r in Model.Reacts)
                                        {
                                            if(r.UserId == Context.Session.GetInt32("currentUserId"))
                                            {
                                                hasUser = true;
                                                break;
                                            }
                                        }

                                        if (hasUser)
                                        {
                                                    @:<div class="heart-like-button liked"></div>
                                        }
                                        else
                                        {
                                                    @:<div class="heart-like-button"></div>
                                        }
                                    
                                    }
                                    <span class="post--action-text ms-2">Thích (<span id="likeCounter">@Model.Reacts.Count</span>)</span>
                                </div>
                            </div>
                            <div class="post--action-comment w-100 d-flex justify-content-center align-items-center">
                                <div class="post--action-hover" id="showCommentBtn" onclick="showComment(this, @Model.Id)">
                                    <i class="fa-regular fa-message post--action-icon"></i>
                                    <span class="post--action-text ms-2">Bình luận (<span id="commentCounter">@Model.CommentSetLength</span>)</span>
                                </div>
                            </div>
                        </div>

                        <div class="comment">
                            <div class="d-flex align-items-center my-2">
                            <div class="me-2">
                                <a href="/user/@Context.Session.GetInt32("currentUserId")">
                                    <img class="comment--avatar rounded-circle" src="@Context.Session.GetString("currentUserAvatar")" alt="">
                                </a>
                            </div>
                                <form class="w-100" onsubmit="addComment(@Model.Id, this)" id="commentForm">
                                    <input name="commentContent" type="text" placeholder="Thêm bình luận" class="add-comment" />
                                </form>
                            </div>
                            <div class="text-center mt-3 comment-loading" style="display:none;">
                                <div class="spinner-border text-muted"></div>
                            </div>
                            <div id="commentedComment" class="flex">
                            
                            </div>
                            <param name="commentPage" id="commentPage" value="1"/>
                            <!--show more comment-->
                            <div class="show-more-comment">
                                <span class="showMore" onclick="loadComment(@Model.Id)">Xem thêm bình luận</span>
                                <span>
                                    <span id="showedCommentLength"></span>/<span id="commentSetLength">@Model.CommentSetLength</span>
                                </span>
                            </div>
                           
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>  
 </div>

<div class="d-none d-xl-block col-xl-3 sidebar-right">

</div>
</div>
                                 
    <div id="modal01" class="modal align-items-center" onclick="this.style.display = 'none'">
        <div class="modal--picture position-relative d-flex align-items-center justify-content-center">
            <img id="img01" style="max-width:100%; max-height:100vh;">
        </div>
    </div>
<script src="~/js/comment.js"></script>
<script src="~/js/post.js"></script>
<script src="~/js/feeds.js"></script>
<script>
        window.onload = function () {
            $('#userNotification').on("click", function () {
                $('.notif-count').css('opacity', '0');
            });

            let url = new URL(window.location.toString());
            let commentId = url.searchParams.get('comment_id');
            let notifType = url.searchParams.get('notif_type');
            if (notifType !== 'REPLY_COMMENT' && notifType !== 'REACT_COMMENT')
                showComment($('#showCommentBtn'), @Model.Id);
            else {
                $("div.comment").addClass('is-show');
                loadCommentNotifRef(commentId);
            }
            
        };
        $('#timeFromNow').text(moment('@Model.CreatedDate').fromNow());
        customHashtag(`.post-@Model.Id`);
</script>